{{#if this.loading}}
  <h2 style="animation: spin 4s infinite linear; display: inline-block;">Loading</h2>
{{else}}
  {{#each this.games as |game|}}
    <GameTile
      @title={{game.title}}
      @year={{game.year}}
      @imageUrl={{game.imageUrl}}
      @description={{game.description}}
    />
  {{/each}}

{{/if}}
