{{#if this.loading}}
  <h2 style="animation: spin 4s infinite linear; display: inline-block;">Loading</h2>
{{else}}
  <div class="grid">
    {{#each this.gamesStore.games as |game|}}
      <div class="grid__item grid__item--1-3">
        <GameTile
          class="game-tile-large"
          @title={{game.name}}
          @timestamp={{game.first_release_date}}
          @imageUrl={{game.cover.url}}
          @description={{game.summary}}
        />
      </div>
    {{/each}}
  </div>
{{/if}}
